html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Template

        //- Main stylesheet.
        link(rel="stylesheet", href="css/main.css")
    body
        header
            h1 Title
            p paragraph text...

        footer
            p Copyright (c) Holder, Year.
